* {
  box-sizing: border-box;
}

.red {
  color: red;
  margin: 0 auto
}

.flex {
  display: flex;
}

.font {
  font-family: 'Inter', sans-serif;
}

.center {
  margin: 0 auto;
  width: 50%
}

.centerText {
  text-align: center;
}

.padding {
  padding-right:  20px;
}
@media only screen and (max-width: 600px) {
  .center {
    width: 100%
  }
}